
.main {
    margin-top: 50px;
}

.main-header {
    color: gray;
    text-align: center;
    margin-top: 20px;
}

#logo-img {
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sub-header {
    color: blueviolet;
    font-weight: 900;
    text-align: center;
}

#order-input {
    margin-top: 20px;
    display: block;
    padding: 5px;
}

.menu {
    display: flex;
    justify-content: center;
}

.button {
    border: solid blueviolet;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
