h1 {
    color: gray;
    text-align: center; /*ekle*/
    margin-top: 20px; /*ekle*/
}

h3 {
    color: blueviolet;
    font-weight: 900;
}

img {
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto; /*ekle*/
    margin-right: auto; /*ekle*/
}

input {
    margin-top: 20px; /*ekle*/
    display: block;
    padding: 5px; /*ekle*/
}

p {
    display: inline;
    border: 2px solid blueviolet;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px; /*ekle*/
}
