body {
    background: beige;
}

h1 {
    color: blueviolet;
    background-color: yellowgreen;
}

h2 {
    color: green;
    background-color: aqua;
    border: 2px solid blueviolet;
    border-radius: 5px;
}
