body {
    background: saddlebrown;
}

h1 {
    color: blueviolet;
    background-color: yellowgreen;
}

h2 {
    color: green;
    background-color: aqua;
    border: solid blueviolet;
    border-radius: 5px;
}
